header.banner {
  text-align: center;
  z-index: $header-nav-zindex;
  background: $header-background-color;
}

header.banner .container {
  height: inherit;
  .navbar-brand {
    width: 100%;
    padding: 0;
    height: inherit;
    h1#logo {
      margin: 0;
      height: inherit;
    }
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  a.phoneNumber {
    line-height: $fields-height;
  }
  .social-icons ul {
    margin: 0;
    li {
      display: inline-block;
      line-height: 1em;
      padding: 0;
    }
    a {
      padding-right: 6px;
      line-height: $fields-height;
      &:hover i:before {
        color: w
      }
    }
  }

}

@media screen and (min-width: $small) {
  header.banner {
    .navbar-brand {
      float: none;
    }
    nav {
      clear: both;
      text-align: center;
    }
  }
}

@media screen and (min-width: $medium) {
  header.banner {
    .container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      > * {
        flex: 1;
      }
    }
    .navbar-brand {
      float: left;
      h1#logo {

      }
      img {
        float: left;
        //height: 100%;
      }
    }
    #headerMenu {
      float: right;
    }
    .phoneNumber {
      float: right;
    }
    .social-icons {
      clear: both;
      text-align: right;
      ul {
        padding: 0;
      }
      li {
      }
    }
    nav {
      clear: both;
      float: right;
    }
  }
}



